<h1>Welcome to Cezs, <%= @user.username %></h1>
  <p>
    You have successfully signed up to Cezs,
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day, you know the rules!</p>