<div style="height: 100vh; width: 100vw; background-color: #2e2e2e; display: flex; flex-direction: column;">
  <div style="margin: 20px 20px 20px 20px;">
    <div style="display:flex; justify-content: center">
      <%= image_tag('email-logo.png', :style => "width: 35%") %>
    </div>
    <h1 style="color: white; font-family:arial;">Hello <%= @user.username %>,</h1>
    <p style="color: white; font-family:arial;">
    Welcome to Cezs, music platform designed for instrumentalists. 
    Here, you will your portfolio and connect with other talented musicians like yourself through our catalog. When you are ready to perform or start your band, pinpoint your upcoming gigs and discover musicians around you on the maps.
    </p>
    <p style="color: white; font-family:arial;">
    Please remember that this is strictly a music platform. We kindly ask that you report any videos other than musicians playing their instruments. 
    </p>
    <p style="color: white; font-family:arial;">
    Please also remember that this is a beta version. In the event that it malfunctions, please email your experience to support@cezsmusic.com.
    </p>
    <p style="color: white; font-family:arial;">Thanks for joining and have a great day.</p>
    <p style="color: white; font-family:arial;">Cezs Support</p>
  </div>
</div>