<h1>Hello <%= @user.username %>,</h1>
  <p>
    Welcome to the social network designed for instrumentalists. 
    Here, you create your portfolio and connect with other talented musicians like yourself.
    # You have successfully signed up to Cezs,
    # your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day, you know the rules!</p>